<div class="page-contact">
      <div class="wrapper">
          <h2 class="section-title">Get in touch</h2>

        <form class="main-form" action="//forms.brace.io/gsetricaribbean@gmail.com" method="POST">
 
          <div class="form-group cname">
            <label>Your Name</label>
            <input type="text" name="name" class="form-control" required="" placeholder="james brown" onfocus="this.placeholder = ''" onblur="this.placeholder = 'james brown'">
          </div>

          <div class="form-group cemail">
            <label>Your Email</label>
            <input type="email" id="email" name="_replyto" required="" placeholder="your-email@domain.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your-email@domain.com'">
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea type="text" name="message" class="form-control" required=""></textarea>
          </div>

            <input type="submit" value="Send Message">
        </form>        

      </div>
  </div>