<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item">
     {% include icons/200/calendar-s.html %}
    <h1>Events</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/box-s.html %}
    <h1>Promotions</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/projects-s.html %}
    <h1>Projects</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/affiliates-s1.html %}
    <h1>Affiliates</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/education-s1.html %}
    <h1>Education</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/solar-solution-s.html %}
    <h1>Solar Solution</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/renewable-energy-s.html %}
    <h1>Renewable Energy</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    {% include icons/200/energy-research-s.html %}
    <h1>Energy Research</h1>
  </a>
</div>
