<div class="hero" style="background: url({{ site.baseurl }}/assets/img/bg/{{ include.bg }}) 50% 50% no-repeat; background-size: cover; " >
	<div class="hero-inner" style="{{ include.subh1bg }}">
		<div class="hero-copy" style="{{ include.h1bg }}">
			<h1>{{ include.herotitle }}</h1>	
            <h2>{{ include.subherotitle }}</h2>
		</div>
        <ol class="herolist">
                <li>{{ include.l1 }}</li>
                <li>{{ include.l2 }}</li>
                <li>{{ include.l3 }}</li>
                <li>{{ include.l4 }}</li>
            </ol>
	</div>
</div>
