<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
        <li class="nav-link"><a href="javascript:void(0)">News</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Projects</a>
            <ul class="submenu">
                <li><a href="javascript:void(0)">Events</a></li>
                <li><a href="javascript:void(0)">Promotions</a></li>
                <li><a href="javascript:void(0)">Projects</a></li>
                <li><a href="javascript:void(0)">Affiliates</a></li>
                <li><a href="javascript:void(0)">Education Programs</a></li>
                <li><a href="javascript:void(0)">Solar Solution</a></li>
                <li><a href="javascript:void(0)">Renewable Energy</a></li>
                <li><a href="javascript:void(0)">Energy Research</a></li>
            </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Departments</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
