<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include intro.html %}

    {% include hero.html subherotitle="Why is Renwable Eneregy Important" bg="reimportant-bg.jpg" l1="Environmental Benefits" l2="Energy for our children's children's children" l3="Jobs and the Economy" l4="Energy Security" subh1bg="background: rgba(0, 0, 0, 0.75)" %}


    {% include griditem.html %}
      
      
    {% include hero.html subherotitle="Why is Renwable Eneregy Important" bg="reimportant-bg.jpg" l1="Environmental Benefits" l2="Energy for our children's children's children" l3="Jobs and the Economy" l4="Energy Security" subh1bg="background: rgba(0, 0, 0, 0.75)" %}

    {% include footer.html %}

  </body>

</html>
